<div class="not-found-page">
      <mat-card class="not-found-page__card">
        <img mat-card-avatar class="avatar-image" [src]="photo" alt="avatar" />
        <mat-card-content class="not-found-page__card-content">
          <h1 class="not-found-page__card-content-title">404</h1>

          <p class="not-found-page__card-content-sub-title">
            Không tìm thấy trang bạn muốn tìm !
          </p>

          <div>
            <span class="not-found-page__card-content-link" [routerLink]="routes.DASHBOARD">
              Quay lại
            </span>
          </div>
        </mat-card-content>
      </mat-card>
</div>
