.header-title {
    background-color: unset;
    height: 60px;
    .toolbar-link {
        display: flex;
        width: 100%;
        align-items: center;
        .icon-image {
            height: 16px;
        }
        .slash-icon {
            margin: 0 5px;
        }
        .link-item {
            cursor: pointer;
        }
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #a2acb5;
    }
}

.product-edit {
    margin: 0 16px;
    padding: 0 16px;
    width: 90%;
    .form-content {
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                font-weight: 500;
                font-size: 14px;
                line-height: 25px;
            }
        }
        &__basic {
            &-container {
                display: flex;
                .upload-image {
                    position: relative;
                    width: 150px;
                    height: 150px;
                    margin-right: 40px;
                    .select-file {
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        cursor: pointer;
                    }
                    .product-thumbnail {
                        width: 150px;
                        height: 150px;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }
                .content {
                    width: 100%;
                }
                .avatar-image {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    cursor: pointer;
                }
                .row-item {
                    display: flex;
                    justify-content: space-between;
                    &__field {
                        width: 47%;
                        .label {
                            margin: 0;
                        }
                        .field-input {
                            width: 100%;
                        }
                    }
                    &__field-number {
                        width: 100%;
                        .field-input {
                            display: flex;
                            justify-content: space-between;
                            &__item {
                                width: 20%;
                                &-price {
                                    width: 30%;
                                }
                            }
                            .status {
                                width: 35%;
                                .stock {
                                    display: flex;
                                    align-items: center;
                                    .in-stock {
                                        color: #16b364;
                                        background-color: #ecfdf3;
                                        padding: 5px 10px;
                                        border-radius: 16px;
                                        margin-top: 5px;
                                        margin-right: 10px;
                                    }
                                    .out-of-stock {
                                        color: #b93815;
                                        background-color: #fef6ee;
                                        padding: 5px 10px;
                                        border-radius: 16px;
                                        margin-top: 5px;
                                        margin-right: 10px;
                                    }
                                    .add-to-inventory {
                                        font-size: 14px;
                                        line-height: 25px;
                                        text-decoration-line: underline;
                                        text-transform: capitalize;
                                        color: #5a9a9d;
                                        text-align: right;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .remove-action {
                            border-right: 1px solid #b9b9b9;
                            border-radius: 0;
                            margin-left: -7px;
                        }
                        .add-action {
                            border-left: 1px solid #b9b9b9;
                            border-radius: 0;
                            margin-right: -7px;
                        }
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        input[type='number'] {
                            padding-left: 5px;
                        }
                        .mat-form-field-flex:focus-visible {
                            outline: none;
                        }
                        input:focus-visible {
                            outline: none;
                        }
                    }
                    &__field-sub {
                        width: 100%;
                    }
                    &__field-full {
                        width: 100%;
                        .field-input {
                            width: 100%;
                        }
                        textarea {
                            height: 100px;
                            align-items: center;
                        }
                    }
                }
            }
        }
        &__detail {
            &-container {
                .row-details {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 40px;
                    justify-content: space-between;
                    .detail-item {
                        display: flex;
                        width: 48%;
                        .key {
                            width: 30%;
                            height: 40px;
                            resize: none;
                            margin-right: 10px;
                            text-align: end;
                        }
                        .field-input {
                            width: 70%;
                        }
                    }
                }
                .show-all {
                    font-weight: 400;
                    padding-left: 40px;
                    font-size: 14px;
                    line-height: 25px;
                    text-decoration-line: underline;
                    text-transform: capitalize;
                    color: #5a9a9d;
                    text-align: right;
                    cursor: pointer;
                }
            }
        }
    }
    &__content {
        box-shadow: none;
        margin: 16px;
        padding: 35px;
    }
    .action-form {
        margin: 16px;
        margin-top: 30px;
        .btn-action {
            width: 100px;
        }
        .btn-save {
            border-color: #536dfe;
            margin-right: 20px;
        }
        .btn-cancel {
            border-color: #f44336;
        }
    }
}
.feild-info{
    width: 30% !important;
}