.header-title {
    background-color: unset;
    height: 60px;
    .toolbar-link {
        display: flex;
        width: 100%;
        align-items: center;
        .icon-image {
            height: 16px;
        }
        .slash-icon {
            margin: 0 5px;
        }
        .link-item {
            cursor: pointer;
        }
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #a2acb5;
    }
}
.dashboard-content {
    margin: 0 16px;
    padding: 0 8px;
    &__head {
        border: 1px solid #d0d5dd;
        border-radius: 8px;
        padding: 24px;
        background-color: #ffffff;

        .content {
            display: flex;
            justify-content: space-between;
            .infor-item {
                width: 20%;
                background: #ffffff;
                border: 1px solid #eaecf0;
                box-shadow: none;
                border-radius: 8px;
                .label {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #757575;
                }
                .value {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 38px;
                    color: #424242;
                }
            }
        }
    }
    &__chart {
        margin-top: 30px;
        display: flex;
        border: 1px solid #d0d5dd;
        border-radius: 8px;
        padding: 24px;
        background-color: #ffffff;
        .chart {
            width: 70%;
            padding-right: 20px;
        }
        .announcements {
            padding-left: 30px;
            border-left: 1px solid #d0d5dd;
            width: 30%;
        }
    }
}
.link{
    cursor: pointer;
    color: #536dfe;
}