<app-spinner *ngIf="isLoading"></app-spinner>
<mat-toolbar class="header-title" role="heading">
    <div class="toolbar-link">
        <img class="icon-image link-item" [src]="homeIcon" alt="home" routerLink="/dashboard" />
        <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
        <span class="link-item" routerLink="/orders">Đơn hàng</span>
        <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
        <span>Sửa</span>
        <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
        <span>{{ orderInfor && orderInfor._id }}</span>
    </div>
</mat-toolbar>
<mat-card-content class="order-edit">
<div class="order-content">
    <p class="label">Thông tin sản phẩm</p>
    <div class="product-detail">
       <div>
        <div *ngFor="let product of orderInfor?.products">
            <div class="product-item">
                <img mat-card-avatar class="avatar-image" [src]="product.productDetail.productThumbnail" alt="avatar" />
                <div>
                    <p class="element-name">{{product.productDetail.productName}}</p>
                    <p class="element-name" *ngIf="product.productDetail.discount">
                        {{formatVND(product.productDetail.price-product.productDetail.price*product.productDetail.discount/100)}}
                    </p>
                    <p class="element-name" *ngIf="product.productDetail.discount">{{formatVND(product.productDetail.price)}}
                    </p>
                    <p class="element-name" *ngIf="!product.productDetail.discount">{{formatVND(product.productDetail.price)}}
                    </p>
                </div>
            </div>
       </div>
    </div>

        <div class="order-status" 
            (click)="openDialogEdit(
                  orderInfor._id,
                  orderInfor.status
                )">
            <p class="status">
                {{orderInfor?.status===0?'Chờ lấy hàng':orderInfor?.status===1?'Đang giao hàng':orderInfor?.status===2?'Đã giao hàng':'Đã hủy'}}
        </p>
        <img [src]="editIcon" /></div>
    </div>
    <p class="label">Địa chỉ giao hàng</p>
    <div class="shipping-detail">
        <p class="shipping-infor">{{orderInfor?.shipping.shipping.shipping_name}}</p>
        <p class="shipping-infor">{{orderInfor?.shipping.shipping.shipping_phone}}</p>
        <p class="shipping-infor">{{orderInfor?.shipping.shipping.shipping_address}},
            {{orderInfor?.shipping.shipping.shipping_ward.name}}, {{orderInfor?.shipping.shipping.shipping_district.name}},
            {{orderInfor?.shipping.shipping.shipping_province.name}}</p>
            <p class="shipping-infor">{{orderInfor?.payment.method==1?'Thanh toán khi nhận hàng':'Thanh toán qua Momo'}}</p>
    </div>
</div>
</mat-card-content>