.header-title {
    background-color: unset;
    height: 60px;
    .toolbar-link {
        display: flex;
        width: 100%;
        align-items: center;
        .icon-image {
            height: 16px;
        }
        .slash-icon {
            margin: 0 5px;
        }
        .link-item {
            cursor: pointer;
        }
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #a2acb5;
    }
}
.inventory-content {
    margin: 0 16px;
    padding: 0 8px;
    table {
        width: 100%;
    }
    .element-name {
        cursor: pointer;
    }
    &__action {
        display: flex;
        margin-bottom: 20px;
        justify-content: flex-end;
        .search-input {
            width: 40%;
            padding: 10px 20px;
            border-radius: 30px;
            border: 1px solid gray;
            background: #ffffff;
        }
    }
}
