<app-spinner *ngIf="isLoading"></app-spinner>
<mat-toolbar class="header-title" role="heading">
    <div class="toolbar-link">
        <img class="icon-image link-item" [src]="homeIcon" alt="home" routerLink="/dashboard" />
        <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
        <span class="link-item" routerLink="/orders">Đơn hàng</span>
        <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
        <span>Danh sách</span>
    </div>
</mat-toolbar>
    <mat-card-content class="product-content">
<div class="product-content__action">
    <input matInput placeholder="Tìm kiếm bằng ID sản phẩm..." type="text" class="search-input" (keyup)="onSearch($event)" />
    </div>
  <table mat-table [dataSource]="orders" class="product-content__table">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID đơn hàng</th>
      <td mat-cell *matCellDef="let element">
        <span class="element-name">{{ element._id }}</span>
    </td>
    </ng-container>
    
    <ng-container matColumnDef="product" >
        <th mat-header-cell *matHeaderCellDef class="product-column">Sản phẩm</th>
        <td mat-cell *matCellDef="let element" class="product-column element-name" [routerLink]="['/orders/detail/' + element._id]">
            <div
                *ngFor="let product of element.products"
            >
        <div class="product-item">
            <img mat-card-avatar class="avatar-image" [src]="product.productDetail.productThumbnail" alt="avatar" />
            <p class="element-name">{{product.productDetail.productName}}</p>
        </div>
            </div>
        </td>
    </ng-container>
    
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Giá</th>
        <td mat-cell *matCellDef="let element">
            {{formatPrice(element.products)}}
        </td>
    </ng-container>
    
    <!-- <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">
            {{element.shipping.shipping?.shipping_address +'/ '+element.shipping.shipping.shipping_ward?.name+'/ '+element.shipping.shipping?.shipping_district?.name+'/ '+element.shipping.shipping?.shipping_province?.name}}
        </td>
    </ng-container> -->
    
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
        <td mat-cell *matCellDef="let element">
            <span [ngClass]="element.status===1?'waiting':element.status===2?'delivering':element.status===3?'delivered':'cancel'">
                {{element.status===0?'Chờ lấy hàng':element.status===1?'Đang giao hàng':element.status===2?'Đã giao hàng':'Đã hủy'}}
            </span>
            
        </td>
    </ng-container>
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>ID người dùng</th>
        <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
    </ng-container>
    
    <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef>Này tạo</th>
        <td mat-cell *matCellDef="let element">
            {{ element.createdAt| date: "dd MMM yyyy" }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Hành động</th>
        <td mat-cell *matCellDef="let element">
            <div class="list-actions">
                <button mat-icon-button class="edit-action" type="button" (click)="editOrder(element._id)">
                    <img [src]="editIcon" />
                </button>
            </div>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="tableColums"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColums"></tr>
    
</table>
<mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
    (page)="pageEvent = getOrderList($event, filter)">
</mat-paginator>
    </mat-card-content>