<app-spinner *ngIf="isLoading"></app-spinner>

<mat-toolbar class="header-title" role="heading">
  <div class="toolbar-link">
    <img
      class="icon-image link-item"
      [src]="homeIcon"
      alt="home"
      routerLink="/dashboard"
    />
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span class="link-item" routerLink="/inventory">Kho hàng</span>
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span>Thông tin</span>
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span>{{ inventoryDetail && inventoryDetail.productName }}</span>
  </div>
</mat-toolbar>
<mat-card-content class="inventory-infor">
  <mat-card class="inventory-infor__content">
    <div class="inventory-infor__content-head">
      <p class="field-value">
        ID Kho hàng :
        <span class="value">{{ inventoryDetail && inventoryDetail._id }}</span>
      </p>
      <p class="field-value">
        Tên sản phẩm :
        <span class="value">{{
          inventoryDetail && inventoryDetail.productName
        }}</span>
      </p>
      <p class="field-value">
        Số lượng :
        <span class="quantity">{{
          inventoryDetail && inventoryDetail.quantity
        }}</span>
      </p>
      <p class="field-value">
        Ngày tạo :
        <span class="value">{{
          inventoryDetail && inventoryDetail.createdAt
            | date: "dd MMM yyyy hh:mm"
        }}</span>
      </p>
    </div>
    <div class="inventory-infor__content-table">
      <table
        mat-table
        [dataSource]="inventoryDetail.reservations"
        *ngIf="inventoryDetail?.reservations"
        class="table-data"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef>ID Ngươi dùng</th>
          <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Số lượng</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</mat-card-content>
