<div class="sidebar">
  <mat-list>
    <mat-list-item
      routerLink="{{ routes.DASHBOARD }}"
      routerLinkActive="active"
    >
      <mat-icon>home</mat-icon> Trang chủ
    </mat-list-item>
    <mat-list-item
      routerLink="{{ routes.CUSTOMERS }}"
      routerLinkActive="active"
    >
      <mat-icon>people</mat-icon> Người dùng
    </mat-list-item>
    <mat-list-item routerLink="{{ routes.PRODUCTS }}" routerLinkActive="active">
      <mat-icon>inventory</mat-icon> Sản phẩm
    </mat-list-item>
    <mat-list-item
      routerLink="{{ routes.INVENTORY }}"
      routerLinkActive="active"
    >
      <mat-icon>widgets</mat-icon> Kho hàng
    </mat-list-item>
    <mat-list-item routerLink="{{ routes.ORDERS }}" routerLinkActive="active">
      <mat-icon>assignment</mat-icon> Đơn hàng
    </mat-list-item>
  </mat-list>

  <div class="user-setting">
    <mat-list>
      <mat-card class="user-infor">
        <mat-card-header>
          <img
            mat-card-avatar
            *ngIf="user?.profile?.photo; else elsephoto"
            [src]="user.profile?.photo"
            alt="avatar"
          />
          <ng-template #elsephoto>
            <img mat-card-avatar [src]="photo" alt="avatar" />
          </ng-template>
          <mat-card-title
            class="user-name"
            *ngIf="user?.username; else elseUsername"
            >{{ user.username }}</mat-card-title
          >
          <ng-template #elseUsername>
            <mat-card-title class="user-name">Tên người dùng</mat-card-title>
          </ng-template>
          <mat-card-subtitle class="user-role">Quản trị viên</mat-card-subtitle>
          <button mat-icon-button (click)="onSignOut()" class="signout-btn">
            <mat-icon class="logout-icon">logout</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
      <mat-list-item
        routerLink="{{ routes.SETTINGS }}"
        routerLinkActive="active"
      >
        <mat-icon>settings</mat-icon>Cài đặt
      </mat-list-item>
    </mat-list>
  </div>
</div>
