<app-spinner *ngIf="isLoading"></app-spinner>
<mat-toolbar class="header-title" role="heading">
  <div class="toolbar-link">
    <img
      class="icon-image link-item"
      [src]="homeIcon"
      alt="home"
      routerLink="/dashboard"
    />
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span class="link-item" routerLink="/products">Products</span>
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span>Lists</span>
  </div>
</mat-toolbar>
<mat-card-content class="product-content">
  <div class="product-content__action">
    <input
      matInput
      placeholder="Search"
      type="text"
      class="search-input"
      (keyup)="onSearch($event)"
    />

    <button
      mat-raised-button
      type="button"
      class="create-product"
      (click)="createProduct()"
    >
      Create product
    </button>
  </div>
  <table mat-table [dataSource]="products" class="product-content__table">
    <ng-container matColumnDef="thumbnail">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img
          mat-card-avatar
          class="avatar-image"
          [src]="element.productThumbnail"
          alt="avatar"
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="element-name"
        [routerLink]="['/products/detail/' + element._id]"
      >
        {{ element.productName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">{{ formatVND(element.price) }}</td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef>Discount</th>
      <td mat-cell *matCellDef="let element">{{ element.discount }}%</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.status == 1; else status" class="in-stock"
          >In stock</span
        >
        <ng-template #status>
          <span class="out-of-stock">Out of stock</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="createAt">
      <th mat-header-cell *matHeaderCellDef>Create At</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "dd MMM yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="list-actions">
          <button
            mat-icon-button
            class="edit-action"
            type="button"
            (click)="editProduct(element._id)"
          >
            <img [src]="editIcon" />
          </button>
          <button
            mat-icon-button
            class="delete-action"
            type="button"
            (click)="openDialog(element._id, element.productName)"
          >
            <img [src]="deleteIcon" />
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColums"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColums"></tr>
  </table>
  <mat-paginator
    [length]="length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
    (page)="pageEvent = getProductList($event, filter)"
  >
  </mat-paginator>
</mat-card-content>
