<div class="delete-modal">
  <div class="delete-modal__header">
    <h4 class="title">{{ data.title }}</h4>
  </div>
  <div
    mat-dialog-content
    class="delete-modal__content"
    *ngIf="data.type == 'add'; else edit"
  >
    {{ data.message }}
    <span class="name">{{ data.name }} </span>to inventory?
  </div>
  <ng-template #edit>
    <div mat-dialog-content class="delete-modal__content">
      {{ data.message }}
      <span class="name">{{ data.name }} </span>?
    </div>
  </ng-template>
  <form [formGroup]="quantityForm">
    <mat-form-field appearance="outline" class="field-quantity">
      <input
        matInput
        placeholder="Enter quantity"
        type="number"
        formControlName="quantity"
      />
      <mat-error *ngIf="!quantityForm.get('quantity')?.errors?.['required']">
        Quantity must be greater than 1!
      </mat-error>
      <mat-error
        *ngIf="quantityForm.get('quantity')?.invalid && (quantityForm.get('quantity')?.dirty || quantityForm.get('quantity')?.touched) && quantityForm.get('quantity')?.errors?.['required']"
      >
        Quantity is required
      </mat-error>
    </mat-form-field>
  </form>
  <div mat-dialog-actions class="delete-modal__action">
    <button mat-button (click)="onNoClick()" class="btn-action btn-cancel">
      Cancel
    </button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      (click)="onClick()"
      class="btn-action btn-edit"
    >
      {{ data.type == "add" ? "Add" : "Edit" }}
    </button>
  </div>
</div>
