<div class="delete-modal">
  <div class="delete-modal__header">
    <h4 class="title">{{ data.title }}</h4>
  </div>
  <div mat-dialog-content class="delete-modal__content">
    Would you like to edit product
    <span class="name">{{ data.name }} </span>?
  </div>
  <div mat-dialog-actions class="delete-modal__action">
    <button mat-button (click)="onNoClick()" class="btn-action btn-cancel">
      Cancel
    </button>
    <button
      mat-button
      mat-dialog-close
      cdkFocusInitial
      (click)="onClick()"
      class="btn-action btn-edit"
    >
      Edit
    </button>
  </div>
</div>
