<app-spinner *ngIf="isLoading"></app-spinner>
<mat-toolbar class="header-title" role="heading">
  <div class="toolbar-link">
    <img
      class="icon-image link-item"
      [src]="homeIcon"
      alt="home"
      routerLink="/dashboard"
    />
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span class="link-item" routerLink="/products">Products</span>
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span>Detail</span>
    <img class="icon-image slash-icon" [src]="slashIcon" alt="home" />
    <span>{{ productInfor && productInfor.productName }}</span>
  </div>
</mat-toolbar>
<mat-card-content class="product-infor">
  <mat-card class="product-infor__content">
    <mat-card-title class="product-infor__content-title">
      <p class="title">Thông tin cơ bản</p>
      <div class="action">
        <span class="edit" (click)="onEdit()">Edit</span>
        <span class="mid">|</span>
        <span
          class="delete"
          (click)="openDialog(productInfor._id, productInfor.productName)"
          >Delete</span
        >
      </div>
    </mat-card-title>
    <div class="product-infor__content-wrapper">
      <div class="product-infor__content-image">
        <img
          mat-card-image
          class="product-thumbnail"
          [src]="(productInfor && productInfor.productThumbnail) || noImage"
          alt="product-thumbnail"
        />
      </div>
      <div class="product-infor__content-infor">
        <div class="infor-item">
          <p class="label">Product name:</p>

          <span class="infor-value product-name">
            {{ productInfor && productInfor.productName }}
          </span>
        </div>
        <div class="infor-item">
          <p class="label">Brand:</p>

          <span class="infor-value">
            {{ productInfor && productInfor.brand }}
          </span>
        </div>
        <div class="infor-item">
          <p class="label">Category:</p>

          <div class="infor-value">
            <ng-container *ngFor="let item of productInfor?.category">
              <p>- {{ item }}</p>
            </ng-container>
          </div>
        </div>
        <div class="infor-item">
          <p class="label">Sub Category:</p>
          <div class="infor-value">
            <ng-container *ngFor="let item of productInfor?.subCategory">
              <p>- {{ item }}</p>
            </ng-container>
          </div>
        </div>
        <div class="infor-item">
          <p class="label">Price:</p>

          <span class="infor-value price">
            {{ formatVND(productInfor && productInfor.price) }}
          </span>
        </div>

        <div class="infor-item">
          <p class="label">Discount:</p>

          <span class="infor-value">
            {{ productInfor && productInfor.discount }}%
          </span>
        </div>
        <div class="infor-item">
          <p class="label">Rating:</p>

          <span class="infor-value">
            {{ productInfor && productInfor.rating }}
          </span>
        </div>
        <div class="infor-item">
          <p class="label">Status:</p>

          <div class="infor-value">
            <span
              *ngIf="productInfor?.status == 1; else status"
              class="in-stock"
            >
              In stock
            </span>
            <ng-template #status>
              <span class="out-of-stock">Out of stock</span>
            </ng-template>
            <span
              *ngIf="productInfor?.status == 0"
              class="add-to-inventory"
              (click)="openDialogAdd(productInfor.productName)"
              >Add to inventory</span
            >
          </div>
        </div>
        <div class="infor-item">
          <p class="label">Description:</p>
          <textarea
            contentEditable="true"
            [value]="productInfor && productInfor.description"
            class="infor-value decription"
          >
          </textarea>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="product-infor__content">
    <mat-card-title class="product-infor__content-title">
      <p class="title">Thông tin chi tiết</p>
    </mat-card-title>
    <div
      class="product-infor__content-detail"
      *ngIf="productInfor?.specs && productInfor.specs.length > 0"
    >
      <div class="content">
        <ng-container
          *ngFor="
            let item of productInfor.specs?.slice(
              0,
              productInfor.specs.length / 2 + 1
            )
          "
        >
          <div class="detail-item">
            <div class="key">{{ item.key }} :</div>
            <div class="value">
              {{ item.value || "-" }}
            </div>
          </div>
        </ng-container>
      </div>
      <div class="content">
        <ng-container
          *ngFor="
            let item of productInfor.specs?.slice(
              productInfor.specs.length / 2 + 1,
              productInfor.specs.length
            )
          "
        >
          <div class="detail-item">
            <div class="key">{{ item.key }} :</div>
            <div class="value">
              {{ item.value || "-" }}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card>
</mat-card-content>
